[access]
	inheritFrom = All-Projects
[submit]
	mergeContent = false
	action = rebase always
[access "refs/*"]
	owner = group user/Sungwoo Park (swpark)
	owner = group user/allan park (mcjino21)
	owner = group user/cjscld15
	owner = group user/jmbahn
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Sungwoo Park (swpark)
	label-Code-Review = -2..+2 group user/allan park (mcjino21)
	label-Code-Review = -2..+2 group user/cjscld15
	label-Code-Review = -2..+2 group user/jmbahn
	label-Verified = -1..+1 group user/Sungwoo Park (swpark)
	label-Verified = -1..+1 group user/allan park (mcjino21)
	label-Verified = -1..+1 group user/cjscld15
	label-Verified = -1..+1 group user/jmbahn
	push = group user/Sungwoo Park (swpark)
	push = group user/allan park (mcjino21)
	push = group user/cjscld15
	push = group user/jmbahn
	read = group user/Sungwoo Park (swpark)
	read = group user/allan park (mcjino21)
	read = group user/cjscld15
	read = group user/jmbahn
	rebase = group user/Sungwoo Park (swpark)
	rebase = group user/allan park (mcjino21)
	rebase = group user/cjscld15
	rebase = group user/jmbahn
	removeReviewer = group user/Sungwoo Park (swpark)
	removeReviewer = group user/allan park (mcjino21)
	removeReviewer = group user/cjscld15
	removeReviewer = group user/jmbahn
	submit = group user/Sungwoo Park (swpark)
	submit = group user/allan park (mcjino21)
	submit = group user/cjscld15
	submit = group user/jmbahn
[access "refs/heads/*"]
	create = group user/Sungwoo Park (swpark)
	create = group user/allan park (mcjino21)
	create = group user/cjscld15
	create = group user/jmbahn
	push = group user/Sungwoo Park (swpark)
	push = group user/allan park (mcjino21)
	push = +force group user/cjscld15
	push = group user/jmbahn
	pushMerge = group user/Sungwoo Park (swpark)
	pushMerge = group user/allan park (mcjino21)
	pushMerge = group user/cjscld15
	pushMerge = group user/jmbahn
	read = group user/Sungwoo Park (swpark)
	read = group user/allan park (mcjino21)
	read = group user/cjscld15
	read = group user/jmbahn
[access "refs/tags/*"]
	push = group user/cjscld15
	push = +force group user/cjscld15
[receive]
	requireSignedOffBy = true
	requireChangeId = true
